.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

}
.a-right{
    flex: 1;
}
.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}
.a-card{
    width: 60%;
    height: 75vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.a-award-img {
    width: 220px;
    height: 150px;
    border-radius: 15px;
  }
  
  .a-title {
    font-weight: 400;
  }
  
  .a-sub {
    margin: 20px 0px;
  }
  
  .a-desc{
      font-weight: 300;
  }
  
  .a-award{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .a-award-texts{
      width: 70%;
  }
  
  .a-award-title{
      font-weight: bold;
      color: #555;
      margin-bottom: 10px;
  }
  
@media screen and (max-width:400px) and (min-width:200px) {
    .a{
      flex-direction: column;
      text-align: center;
      margin-top: 200px;
      width: 300px;
      margin-left: 40px;
      
    }

    .a-left {
      width: 80%;

    }

    .a-card{
      width: 70%;
      height: 25vh;
      border-radius: 30px;
      margin-top: -200px;
     
  }
  .a-card.bg{
    display: none;
  }
    .a-award {
     width: 100%;
    }

    .a-right{
      padding: 20px;
      margin-top: -200px;
      
    }
    .a-sub{
      font-size: 13px;
    }
    .a-desc{
      font-size: 13px;
    }
    .a-award-title,.a-award-desc{
      font-size: 8px;
      margin-left: 15px;
    }
}

/* 
@media screen and (max-width:600px) and (min-width:400px) {
  
  .a-img{
    display: none;
  }
  .a{
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .a-left {
    width: 100%;
  }

  .a-card {
    height: 30vh;
  }

  .a-card.bg, .a-award {
    display: none;
  }

  .a-right{
    padding: 20px;
  }
} */